{
    "ca": {
        "expiry": "1440h",
        "pathlen": 1
    },
    "cn": "Nordstrom Kubernetes Platform Online Intermediate CA-${year?:"year must be set"} ${month?:"month must be set"}",
    "hosts": [

    ],
    "key": {
        "algo": "rsa",
        "size": 4096
    },
    "names": [
        {
            "C": "US",
            "L": "Seattle",
            "O": "Nordstrom",
            "OU": "Kubernetes Platform",
            "ST": "Washington"
        }
    ]
}