{
    "signing": {
        "default": {
            "expiry": "8760h"
        },
        "profiles": {
            "intermediate-ca": {
                "expiry": "720h",
                "is_ca": true,
                "usages": [
                    "cert sign",
                    "crl sign",
                    "key encipherment",
                    "digital signature",
                    "signing"
                ]
            }
        }
    }
}